.navigation__logo {
  width: 78px;
}

.logotype {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  &__fire-svg {
    width: 19px;
    height: 32px;
    fill: #ff6b08;
    margin: 0;
    padding: 0;
  }

  &__hell,
  &__en {
    font-family: $font-montserrat;
    font-weight: 800;
    color: #000000;
    line-height: 18px;
    font-size: 15px;
    justify-content: center;
  }
  &__hell-rus,
  &__en-rus {
    font-family: $font-montserrat;
    font-weight: 700;
    color: #ff6b08;
    line-height: 8px;
    font-size: 5.3px;
    text-transform: uppercase;
    letter-spacing: 0.689px;
    text-align: center;
  }
  &__en {
    text-transform: uppercase;

    &-rus {
      color: #000000;
    }
  }
}
