
.program{
  background-image: linear-gradient(to bottom, #111517 88%, #ffffff 12%), url(../images/our-program/background-picture.png);
  background-repeat: no-repeat;
  background-position: right 0 bottom 25%;
}
// не отображается картинка, после прописать в медиа подгрузки ретина картинки

.program-title {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 33px;
  color: #fff;
  font-family: 'Montserrat';
  font-weight: 800;
}

// Отступ 6,5. В медиа мобилке добавить text-alight:center

