.program {
  background-image: linear-gradient(to bottom, #111517 88%, #ffffff 12%);
  padding: 50px 0 45px;
}

.program-wrapper {
  background-image: url(../images/our-program/background-picture.png);
  background-repeat: no-repeat;
  background-position: right -95px bottom 25%;
  overflow: hidden;
}

.program-title {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 33px;
  color: #ffffff;
  font-family: 'Montserrat';
  font-weight: 800;
  margin-bottom: 30px;
}
// Отступ 6,5.

.program-list {
  margin: 0 auto;
  padding-left: 95px;
  position: relative;
}

.program-list::before {
  display: inline-block;
  content: '';
  width: 2px;
  height: 92%;
  background-color: #575173;
  transform-origin: left;
  transform: rotate(180deg);
  transform: translate(-30px, 10px);
  position: absolute;
}

.semester {
  position: relative;
}

.semester:not(:last-child) {
  margin-bottom: 38px;
}

.semester::before {
  display: inline-block;
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #ff6b08;
  position: absolute;
  transform: translate(-34px, 10px);
}

.semester-list__title-main {
  font-size: 15px;
  letter-spacing: 2px;
  line-height: 29px;
  color: #ffffff;
  font-family: 'Montserrat';
  font-weight: 700;
  text-transform: uppercase;
  text-align: top;
  margin-bottom: 14px;
}
// Отступ 7

.semester-list__item:not(:last-child) {
  margin-bottom: 12px;
}

.semester-list__title {
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 29px;
  color: #ff6b08;
  font-family: 'Montserrat';
  font-weight: 500;
  padding-left: 38px;
  position: relative;
  margin-bottom: 12px;
}

.semester-list__title::before {
  display: inline-block;
  content: '';
  width: 25px;
  height: 2px;
  background-color: #ff6b08;
  transform-origin: left;
  transform: rotate(180deg);
  transform: translate(-38px, 13px);
  position: absolute;
}

.semester-list__text {
  font-size: 11px;
  letter-spacing: 1px;
  line-height: 20px;
  color: #858585;
  font-family: 'Montserrat';
  font-weight: 400;
}

.semester-list__text:not(:last-child) {
  margin-bottom: 6px;
}

.semester-list__title--block {
  display: inline-block;
  height: 29px;
}

// Отступ 4,5

// Здесь располагается блок "Почему нас выбирают. " Этот блок входит в секцию program.Я ей фон задала. Посмотри внимательно вложенность. Падинг боттом секции задала 70 пикселей

// Медиа

@media (max-width: 767px) {
  .program-title {
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .program {
    background-image: linear-gradient(to bottom, #111517 76%, #ffffff 24%);
    padding: 52px 0 52px;
  }

  .program-wrapper {
    background-position: right 0 bottom 31%;
  }

  .program-title {
    font-size: 26px;
    letter-spacing: 1px;
    line-height: 63px;
    margin-bottom: 44px;
  }
  // Отступ 18.5

  .program-list {
    padding-left: 145px;
  }

  .program-list::before {
    height: 87%;
    transform: translate(-52px, 10px);
  }

  .semester {
    width: 546px;
  }

  .semester:not(:last-child) {
    margin-bottom: 32px;
  }

  .semester::before {
    transform: translate(-56px, 10px);
  }

  .semester-list {
    display: flex;
    flex-wrap: wrap;
  }

  .semester-list__item {
    width: 162px;
  }

  .semester-list__item:not(:last-child) {
    margin-right: 28px;
    margin-bottom: 0;
  }
}

@media (min-width: 1280px) and (max-width: 1679px) {
  .program {
    background-image: linear-gradient(to bottom, #111517 92%, #ffffff 8%);
    padding: 78px 0 90px;
  }

  .program-wrapper {
    background-position: left 0 bottom 28%;
  }

  .program-title {
    font-size: 42px;
    letter-spacing: 2px;
    line-height: 63px;
    margin-bottom: 90px;
  }

  // 10.5
  
}

@media (min-width: 1680px) {
  .program {
    background-image: linear-gradient(to bottom, #111517 79%, #ffffff 21%);
    padding: 126px 0 122px;
  }

  .program-wrapper {
    background-position: left 0 bottom 25%;
  }

  .program-title {
    font-size: 46px;
    margin-bottom: 162px;
  }
}
