.program {
  background-image: linear-gradient(to bottom, #111517 88%, #ffffff 12%);
  padding: 50px 0 70px;
}

// падинг ботом задала 70 пикселей

.program-wrapper {
  background-image: url(../images/our-program/background-picture.png);
  background-repeat: no-repeat;
  background-position: right -95px bottom 25%;
  overflow: hidden;
}
// прописать в медиа подгрузки ретина картинки
// Позиционирование картинки сзади

.program-title {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 33px;
  color: #ffffff;
  font-family: 'Montserrat';
  font-weight: 800;
  margin-bottom: 30px;
}

// Отступ 6,5.

.program-list {
  margin: 0 auto;
  position: relative;
}

.program-list::before {
  display: inline-block;
  content: '';
  width: 2px;
  height: 100%;
  background-color: #575173;
  transform-origin: left;
  transform: rotate(180deg);
  position: absolute;
}

.semester:not(:last-child) {
  margin-bottom: 38px;
}

.semester::before {
  display: block;
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #ff6b08;
}

.semester-list__title-main {
  font-size: 15px;
  letter-spacing: 2px;
  line-height: 29px;
  color: #ffffff;
  font-family: 'Montserrat';
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 14px;
}

// Отступ 7

.semester-list__item:not(:last-child) {
  margin-bottom: 12px;
}

.semester-list__title {
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 29px;
  color: #ff6b08;
  font-family: 'Montserrat';
  font-weight: 500;
  padding-left: 38px;
}

.semester-list__title:not(:last-child) {
  margin-bottom: 12px;
}

// Отступ 8

.semester-list__title::before {
  display: block;
  content: '';
  width: 25px;
  height: 2px;
  background-color: #ff6b08;
}

.semester-list__text {
  font-size: 11px;
  letter-spacing: 1px;
  line-height: 20px;
  color: #858585;
  font-family: 'Montserrat';
  font-weight: 400;
}

.semester-list__text:not(:last-child) {
  margin-bottom: 10px;
}

// Отступ 4,5

// Здесь располагается блок "Почему нас выбирают. " Этот блок входит в секцию program.Я ей фон задала. Посмотри внимательно вложенность. Падинг боттом секции задала 70 пикселей

// Медиа

@media (max-width: 767px) {
  .program-title {
    text-align: center;
  }
}
